<%- include('shared/header.ejs') %>
    <div class="container text-center my-5">
        <div class="user my-3">
            <i class="far fa-edit user-icon"></i>
            <h4 class="login">Register</h4>
        </div>

        <% if (success == true) { %>
            <div class="my-3">
                <div class=" w-50 m-auto alert alert-warning">
                    success
                </div>
            </div>

            <% } %>


                <div class="card p-5 w-50 m-auto">
                    <form method="POST" action="/handleRegister">
                        <input value="<%= oldInputs.name %>" class="form-control <%= errors.find(e=>e.param == 'name')?'is-invalid':'' %>" placeholder="Enter your Name" type="text" name="name">
                        <% if (errors.find(e=>e.param == 'name')) { %>
                            <div class="alert alert-danger my-2">
                                incorrect name
                            </div>
                            <% } %>
                                <input value="<%= oldInputs.email %>" class="form-control my-2 <%= errors.find(e=>e.param == 'email')?'is-invalid':'' %>" placeholder="Enter your email" type="email" name="email">
                                <% if (errors.find(e=>e.param == 'email')) { %>
                                    <div class="alert alert-danger my-2">
                                        incorrect email
                                    </div>
                                    <% } %>
                                        <% if (isEmail == false) { %>
                                            <div class="alert alert-danger my-2">
                                                this email is already exist
                                            </div>
                                            <% } %>
                                                <input value="<%= oldInputs.password %>" class="form-control <%= errors.find(e=>e.param == 'password')?'is-invalid':'' %>" placeholder="Enter your Password" type="password" name="password">
                                                <% if (errors.find(e=>e.param == 'password')) { %>
                                                    <div class="alert alert-danger my-2">
                                                        incorrect password
                                                    </div>
                                                    <% } %>
                                                        <input value="<%= oldInputs.PasswordConfirmation %>" class="form-control  my-2 <%= errors.find(e=>e.param == 'PasswordConfirmation')?'is-invalid':'' %>" placeholder="Password Confirmation" type="password" name="PasswordConfirmation">
                                                        <% if (errors.find(e=>e.param == 'PasswordConfirmation')) { %>
                                                            <div class="alert alert-danger my-2">
                                                                Password confirmation dosen't match your password
                                                            </div>
                                                            <% } %>
                                                                <button class="btn btn-default-outline my-4 w-100 rounded">Register</button>
                                                                <a class="btn btn-default-outline" href="/login">Login</a>
                    </form>
                </div>
    </div>
    <%- include('shared/footer.ejs') %>